<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keyboard Shortcuts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D227065B1BDAB1F60004805E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22706741BDAB1F60004805E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D227067F1BDAB1F60004805E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
